<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .padding {
            padding: 50px;
        }
    </style>
</head>

<body>
    <div class="padding">

    </div>
    <script>
        var rect = document.createElement('div');
        var node = document.getElementsByClassName('padding')[0].getBoundingClientRect();
        console.log(node)
    </script>
</body>

</html>